body
{
	font-size: 16px;	
}
div#centrar
{
	background-color: #ebebeb;
	border: 1px solid red;
	height: 1200px;
	margin: 0 auto;
	width: 1024px;
}
aside#arriba
{
	background-color: #910b26;
	height: 50px;
}
aside #arriba_center
{
	width: 780px;
	border:1px solid green;
	margin: 0 auto;
	height: 50px;

}
a#home,  div#redes{
	display: inline-block;
}
a#home
{
	background-color: #910b26;
	border:1px solid white;
	border-radius: 5px;
	text-decoration: none;
	color: white;
	padding: 5px;
	text-transform: uppercase;
	margin: 10px 0px 0px 10px;
	font-size: 0.8em;

}
div#redes
{
	float: right;
	border: 1px solid blue;
	margin:8px 10px 0px 0px;
}
#rss img, #twitter img , #face img, #utube img{
	display: inline-block;
	border: 1px solid yellow;
	width: 32px;
}
header
{
	/*height: 192px;*/
	width: 790px;
	margin: 0 auto;
	border: 1px solid green;
}
header figure{
	display: inline-block;
}
header figure img
{
	width: 310px;
	margin: 30px 0px 30px 0px;
	
	border: 1px solid red;
}
header div#buscador
{
	border:1px solid red;
	display: inline-block;
	float: right;
	vertical-align: top;
	margin: 40px 0px 0px 0px;
}
nav#menu{
	border: 1px solid red;
	width: 790px;
	margin: 0 auto;
}
nav#menu ul{
	border: 1px solid green;

}

nav#menu ul li{
	display: inline-block;
	margin: 0px;	
	
}
nav#menu ul li a{
	text-align: center;
	text-decoration: none;
	font-size: 0.7em;
	background-color:#176990; 
	display: block;
	color: white;
	margin: 0px;

} 
