/*Branch master*/
body
{
	font-size: 16px;	
	background-color: #ebebeb;
}

aside#arriba
{
	background-color: #910b26;
	height: 50px;
	width: 100%;
}
aside #arriba_center
{
	width: 780px;
	border:1px solid green;
	margin: 0 auto;
	height: 50px;

}
a#home,  div#redes{
	display: inline-block;
}
a#home
{
	background-color: #910b26;
	border:1px solid white;
	border-radius: 5px;
	text-decoration: none;
	color: white;
	padding: 5px;
	text-transform: uppercase;
	margin: 10px 0px 0px 10px;
	font-size: 0.8em;

}
div#redes
{
	float: right;
	border: 1px solid blue;
	margin:8px 10px 0px 0px;
}
#rss img, #twitter img , #face img, #utube img{
	display: inline-block;
	border: 1px solid yellow;
	width: 32px;
}
div#centrar
{
	background-color: #ebebeb;
	border: 1px solid red;
	height: 1360px;
	margin: 0 auto;
	width: 1100px;
}
header
{
	/*height: 192px;*/
	width: 790px;
	margin: 0 auto;
	border: 1px solid green;
}
header figure{
	display: inline-block;
}
header figure img
{
	width: 310px;
	margin: 30px 0px 30px 0px;
	
	border: 1px solid red;
}
header div#buscador
{
	border:1px solid red;
	display: inline-block;
	float: right;
	vertical-align: top;
	margin: 40px 0px 0px 0px;
}
nav#menu{
	border: 1px solid red;
	width: 900px;
	margin: 0 auto;
	height: 70px;
}
nav#menu ul{
	border: 1px solid green;
	margin-left: 12px;
}

nav#menu ul li{
	display: inline-block;		
}
nav#menu ul li a{
	text-align: center;
	text-decoration: none;
	font-size: 0.7em;
	background-color:#176990; 
	display: block;
	color: white;
	padding: 18px;
	border: 1px solid yellow;
} 
div#slider{
	width: 1100px;
	border: 1px solid red;

}
div#slider img{
	width: 1100px;
}
section#contenido{
	width: 1010px;
	/*height: 600px;*/
	margin: 0 auto;
	/*border: 2px solid orange;*/
}
div#izq, div#der{
	display: inline-block;
	
	border: 1px solid red;
	vertical-align: top;	
}
div#izq{
	width: 750px;
	height: 720px;
}
div#der{
	height: 630px;
	width: 245px;
	background-color: #e0dedc;
	margin-top: 15px;
}

h2{	
	display: inline-block;
	font-size: 1.1em;
	font-weight: bold;
	color: #333;
	margin-left: 25px;
	margin-right: 25px;
}
span.linea{
	border-top: 1px solid #999;
	width: 260px;
	margin-top: -4px;
	display: inline-block;
	vertical-align: middle;

}
div#titulo{
	border: 1px solid black;
	width: 710px;
	margin:0 auto;
}
.noti{
	width: 230px;
	background-color: red;
	display: inline-block;
	margin-right: 10px;
	margin-top: 25px;
}
.noti img{
	width: 230px;
	display: block;
}
.notiTexto{
	width: 228px;
	border: 1px solid red;
	display: inline-block;
	margin-right: 10px;

	
}
.notiTexto>p{
	color: #666;
	font-weight: bold;
	background-color: red;
}
.notiTexto > span{
	text-align:justify;
	background-color: red;
	display: block;
	color: #666;
}
/* Parte derecha*/ 
div#eventos{
	width: 230px;
	background-color: white;
	height: 400px;
	margin: 5px auto;
}
#textoEven,#vermas{
	display: inline-block;
}
p#textoEven{
	color: #666;
	font-size: 20px;
	margin: 25px 10px 5px 10px;
}
a#vermas{
	background-color: white;
	color: #666;
	border:1px solid #666;
	border-radius: 3px;
	text-decoration: none;
	padding: 4px;
	vertical-align: top;
	margin: 25px 0px 5px 60px;
	font-size: 0.6em;

}
.listaEven{
	margin: 10px 0px 10px 10px;
	border:1px solid red;
	width: 208px;
	height: 100px;
}
.cuadrado{
	width: 80px;
	height: 80px;
	background-color: #666;
	
}
.title{
	margin: 5px;
}
.cuadrado,.title{
	display: inline-block;
	vertical-align: top;
}

.va1,.va2{
	border:1px solid red;
	display: inline-block;
}
.va1{
	margin: 5px 0px 0px 4px;
}
.va2{
	margin: -20px 0px 0px 100px;
	font-size: 12px;
}
#calendario{
	margin: 0 auto;
	width: 200px;
	margin-top: 5px;
}
#calendario img{
	width: 200px;
}
div#videos{
	width: 100%;
	/*border: 1px solid red;*/
	background: url("../img/verde.png") no-repeat;
	height: 300px;
}
div.centro{
	width: 1000px;
	height: 280px;
	border: 1px solid red;
	margin:0 auto;
}
div#masVisto{
	width: 100%;
	/*border: 1px solid red;*/
	background: url("../img/azul.png");
	height: 300px;
	margin-top: -35px;
}
p.textoVi{
	margin: 70px 10px 10px 10px;
	border: 1px solid blue;
	display: inline-block;
	color: white;
	font-weight: bold;
	vertical-align: top;
}
div.centro>img{
	border: 1px solid red;
	margin:40px  0px 0px 80px;
	width: 780px;
}
#span{
	display: inline-block;
	width: 6px;
	background-color: white;
	height: 18px;
	margin-right: 15px;
}
div#visto{
	border: 1px solid red;
	width: 900px;
	height: 150px;
	margin:0 auto;
}
div.vista{
	display: inline-block;
	width: 200px;
	border:1px solid red;
	height: 120px;
	vertical-align: top;
	margin-left: 5px;
}
ul.lista{
	list-style: none;
	margin-left: -40px;
}
ul.lista li{
	color: white;
	border: 1px solid gray;
}
div#view{
	margin-top: -50px;
	height: 180px;
	width: 220px;
}
p#texto{
	color: white;
	font-weight: bold;
}
