
/*Branch master*/



@font-face {
    font-family: 'letra2';
    src: url('../font/quattrocento-regular-webfont.eot');
    src: url('../font/quattrocento-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/quattrocento-regular-webfont.woff2') format('woff2'),
         url('../font/quattrocento-regular-webfont.woff') format('woff'),
         url('../font/quattrocento-regular-webfont.ttf') format('truetype'),
         url('../font/quattrocento-regular-webfont.svg#quattrocento_romanregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'letra1';
    src: url('../font/lato-regular-webfont.eot');
    src: url('../font/lato-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/lato-regular-webfont.woff2') format('woff2'),
         url('../font/lato-regular-webfont.woff') format('woff'),
         url('../font/lato-regular-webfont.ttf') format('truetype'),
         url('../font/lato-regular-webfont.svg#latoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


body
{
	font-size: 16px;	
	background-color: #ebebeb;
	font-family: 'letra2';
}

aside#arriba
{
	background-color: #910b26;
	height: 50px;
	width: 100%;
}
aside #arriba_center
{
	width: 910px;
	/*border:1px solid green;*/
	margin: 0 auto;
	height: 50px;

}
a#home,  div#redes{
	display: inline-block;
}
a#home
{
	background-color: #910b26;
	border:1px solid white;
	border-radius: 5px;
	text-decoration: none;
	color: white;
	padding: 5px;
	text-transform: uppercase;
	margin: 10px 0px 0px 0px;
	font-size: 0.8em;
	font-family: 'letra1';
	font-weight: bold;

}
a#home:hover{
	background-color: white;
	color: black;
	-webkit-transition: all 300ms ease-out;
	-moz-transition: all 300ms ease-out;
	-ms-transition: all 300ms ease-out;
	-o-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
}	

div#redes
{
	float: right;
	/*border: 1px solid blue;*/
	margin:8px 10px 0px 0px;
}
#rss img, #twitter img , #face img, #utube img{
	display: inline-block;
	/*border: 1px solid yellow;*/
	width: 32px;
}

header
{
	/*height: 192px;*/
	width: 790px;
	margin: 0 auto;
/*	border: 1px solid green;*/
}
header figure{
	display: inline-block;
}
header figure img
{
	width: 310px;
	margin: 30px 0px 30px 0px;
	
	/*border: 1px solid red;*/
}
header div#buscador
{
	/*border:1px solid red;*/
	display: inline-block;
	float: right;
	vertical-align: top;
	margin: 40px 0px 0px 0px;
}
nav#menu{
	/*border: 1px solid red;*/
	width: 1100px;
	margin: 0 auto;
	/*height: 70px;*/
}
nav#menu ul{
	/*border: 1px solid green;*/
	margin: 4px 0px -2px 50px; /*  agregar al master */
}

nav#menu ul li{
	display: inline-block;		
}
nav#menu ul li a{
	text-align: center;
	text-decoration: none;
	font-size: 0.7em;
	background-color:#176990; 
	display: block;
	color: white;
	padding: 18px;
	border: 1px solid white;
	width: 115px;
	font-family: 'letra1';
	font-weight: bold;
} 
nav#menu ul li a:hover{
	background-color: #910B26;
	-webkit-transition: all 500ms ease-out;
	-moz-transition: all 500ms ease-out;
	-ms-transition: all 500ms ease-out;
	-o-transition: all 500ms ease-out;
    transition: all 500ms ease-out;


}
div#slider{
	width: 100%;
	/*border: 1px solid red;*/
	margin: 0 auto;


}
div#slider img{
	width: 100%;
}
section#contenido{
	width: 1010px;
	/*height: 600px;*/
	margin: 0 auto;
	/*border: 2px solid orange;*/
}
div#izq, div#der{
	display: inline-block;
	
	/*border: 1px solid red;*/
	vertical-align: top;	
}
div#izq{
	width: 750px;
	margin-bottom: 20px;
	/*border: 1px solid red;*/
}
div#der{
	/*border:1px solid red;*/
	height: 650px;
	width: 245px;
	background-color: #e0dedc;
	margin-top: 15px;
}

h2{	
	display: inline-block;
	font-size: 1.1em;
	font-weight: bold;
	color: #333;
	margin-left: 25px;
	margin-right: 25px;
	font-family: 'letra1';
}
span.linea{
	border-top: 1px solid #999;
	width: 260px;
	margin-top: -4px;
	display: inline-block;
	vertical-align: middle;

}
div#titulo{
	/*border: 1px solid black;*/
	width: 710px;
	margin:0 auto;
}
.noti{
	width: 230px;
	background-color: red;
	display: inline-block;
	margin-right: 10px;
	margin-top: 25px;

}
.noti img{
	width: 230px;
	display: block;
}
.notiTexto{
	width: 228px;
	/*border: 1px solid red;*/
	display: inline-block;
	margin: 0px 10px 20px 0px;
	font-family: 'letra1'
	
}
.notiTexto>p{
	color: #666;
	font-weight: bold;
	/*background-color: red;*/
}
.notiTexto > span{
	text-align:justify;
	/*background-color: red;*/
	display: block;
	color: #666;
	/*font-family: 'arial';*/
}
/* Parte derecha*/ 
div#eventos{
	width: 230px;
	background-color: white;
	height: 400px;
	margin: 5px auto;
}
#textoEven,#vermas{
	display: inline-block;
}
p#textoEven{
	color: #666;
	font-size: 20px;
	margin: 25px 10px 5px 10px;
	font-family: 'letra1';
}
a#vermas{
	background-color: white;
	color: #666;
	/*border:1px solid #666;*/
	border-radius: 3px;
	text-decoration: none;
	padding: 4px;
	vertical-align: top;
	margin: 25px 0px 5px 60px;
	font-size: 0.6em;
	font-family: 'letra1';

}
a#vermas:hover{
	color: #910b26;
	text-decoration: underline;
}
.listaEven{
	margin: 10px 0px 10px 10px;
	/*border:1px solid red;*/
	width: 208px;
	height: 100px;
}
.cuadrado{
	width: 80px;
	height: 80px;
	background-color: #666;
	
}
.title{
	margin: 5px;

}
.cuadrado,.title{
	display: inline-block;
	vertical-align: top;
}

.va1,.va2{
	/*border:1px solid red;*/
	display: inline-block;
	font-family: 'letra1';
}
.va1{
	margin: 5px 0px 0px 4px;
}
.va2{
	margin: -20px 0px 0px 100px;
	font-size: 12px;
}
#calendario{
	margin: 0 auto;
	width: 200px;
	margin-top: 5px;
}
#calendario img{
	width: 200px;
}
div#videos{
	width: 100%;
	/*border: 1px solid red;*/
	background: url("../img/verde.png") no-repeat;
	height: 300px;
}
div.centro{
	width: 1000px;
	height: 280px;
	/*border: 1px solid red;*/
	margin:0 auto;
}
div#masVisto{
	width: 100%;
	/*border: 1px solid red;*/
	background: url("../img/azul.png");
	height: 300px;
	margin-top: -35px;
}
p.textoVi{
	margin: 70px 10px 10px 10px;
	/*border: 1px solid blue;*/
	display: inline-block;
	color: white;
	font-weight: bold;
	vertical-align: top;
	font-family: 'letra1';
}
div.centro>img{
	/*border: 1px solid red;*/
	margin:40px  0px 0px 80px;
	width: 780px;
}
#span{
	display: inline-block;
	width: 6px;
	background-color: white;
	height: 18px;
	margin-right: 15px;
}
div#visto{
/*	border: 1px solid red;*/
	width: 900px;
	height: 150px;
	margin:0 auto;
}
div.vista{
	display: inline-block;
	width: 200px;
	/*border:1px solid red;*/
	height: 120px;
	vertical-align: top;
	margin-left: 5px;
}
ul.lista{
	list-style: none;
	margin-left: -40px;
}
ul.lista li{
	color: white;
	/*border: 1px solid gray;*/
	margin-bottom: 10px;
	padding: 5px;
	font-family: 'letra1';
}

ul.lista li span.guia{
	/*background-color:red;*/
	vertical-align: top; 
	font-size: 14px;
	margin-left: 9px;
	font-family: 'letra1';
}
ul.lista img{
	width: 22px;
}
img.imgv, span.guia{
	display: inline-block;

}

div#view{
	margin-top: -50px;
	height: 180px;
	width: 220px;
}
p#texto{
	color: white;
	font-weight: bold;
	font-family: 'letra1';
}

footer{
	background-color: #910b26;
	height: 50px;
	width: 100%;
	border-top: 1px solid white;
}
footer>p{
	color: white;
	width: 1000px;
	margin: 0 auto;
	/*border: 1px solid yellow;*/
	text-align: center;
	margin-top: 20px;
	font-family:'letra1';
}
div#cambio{
	/*border: 3px solid red;*/
	height: auto;
	/*margin-bottom: 50px;*/

}
/* QUIENES SOMOS*/
img.banner{
	margin: 1px 0 25px 0;
	width: 100%;
	
}
section.contenedor{
	width: 1010px;
	/*height: auto;*/
	/*border:1px solid red;*/
	margin: 0 auto;
	margin-bottom: 50px;

}
div.menuLateral,div.mostrar{
	/*border: 1px solid red;*/
	display: inline-block;
	vertical-align: top;
}
div.mostrar{
	/*width: auto;*/
	padding-right: 20px;
}
ul.menuL{
	list-style: none;
	margin: 0px;
	
}

ul.menuL li a{
	text-decoration: none;
	background-color: #fafafa;
	border:1px solid #666;
	display: block;
	width: 180px;
	padding: 10px 0px 10px 30px;
	color:#3a454d;
	font-weight: bold;
	-webkit-box-shadow: 1px 1px 14px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    1px 1px 14px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         1px 1px 14px 0px rgba(50, 50, 50, 0.75);
	font-family: 'letra1';
}
ul.menuL li a:hover{
	background-color: #5f6a72;
	color:white;
	
}
p.top_title{
	display: inline-block;
	margin: 30px 5px 20px 30px;
	font-size: 20px;
	color: #3a454d;
	font-weight: bold;
	font-family: 'letra1';

}
span.linea2{
	border-top: 1px solid #999;
	width: 480px;
	margin-top: -4px;
	display: inline-block;
	vertical-align: middle;
}
figure.bann{
	margin-left: 32px;
}
figure.bann img{
	width: 670px;
}
p.textoN{
	text-align: justify;
	width: 670px;
	margin-left: 32px; 
	line-height: 1.4em;
	font-family: 'letra1';
}
p.textoT{
	font-weight: bold;
	margin-left: 32px; 
	line-height: 1.4em;
}
/* FORMULARIO*/
.mostrar img#tituloConctacto{
	width:75%;
	display: block;
	/*border: 1px solid red;*/
	margin: 0 auto;
}
form{
	/*border:1px solid red;*/
	width: 600px;
	margin: 15px auto;
}


form input[type="text"], input[type="email"]{
	border:1px solid #CCC;
	/*border-radius:5px;	*/
	width:400px;
	height:25px;
	padding-left:5px;
	background-color: #dddbda;
}
form input[type="text"]:focus, input[type="email"]:focus{
	border: 1px solid #ccc;


}
form textarea{
	border:1px solid #ccc;
	/*border-radius:5px;	*/
	width:400px;
	height:100px;
	padding:5px; 
	background-color: #dddbda
}
form input[value="Enviar"]{
	background-color: #ae6972;
	border: 0px;
	color: white;
	font-family: 'latoregular';
	padding: 10px 30px;
	margin:10px 20px 0px 100px;
}
form input[value="Limpiar"]{
	border: 0px;
	font-family: 'latoregular';	
	background-color: #514e4e;
	color: white;
	padding: 10px 30px;
}
	

form .formSpan{
	color: #333;
	border: 0px solid red;
	display: inline-block;
	width: 100px;
	font-family: latoregular;
	
}
form div.spaceF{
	margin: 15px 5px;
}
.mostrar span.linea3{
	border-top: 1px solid #999;
	width: 900px;
	margin-left: 20px;
	margin-top: 10px;
	display: inline-block;
	vertical-align: middle;
}
 /* FIN FORMULARIo */
.mostrar div#mapa{
	width: 600px;
	margin: 20px auto 100px;
}
.mostrar div#show{
	/*background-color: red;*/
	overflow: hidden;
	border-top:1px solid #514e4e;
	border-bottom: 1px solid #514e4e;
	font-family: 'letra1';
	margin-top: 40px;

}
div#show #nomL{
	float: left;
	margin:20px 0 0 10px;
	color: gray;
	font-size: 14px;
}
div#show ul{
	float: right;
	list-style: none;
}
div#show ul li{
	display: inline-block;
	margin: 0px 10px;
	cursor: pointer;
	color: gray;
	padding: 5px;
	border-radius: 5px;
}
div#show ul li:hover{
	display: inline-block;
	margin: 0px 10px;
	cursor: pointer;
	background-color: #f5c149;
}
div#mostrar1{
	/*border:1px solid red;*/
	margin-top: 20px;
	width: 700px;
}
div#mostrar1 figure.imgF{
	display: inline-block;
	width: 210px;
	margin: 10px 0 30px 10px;
	padding-left: 10px;
}
div#mostrar1 figure img{
	width: 210px;
}
div#mostrar1 figure figcaption{
	text-align: center;
	padding-top: 10px;
	/*border: 1px solid red;*/
	font-family: 'letra1';
	font-size: 14px;
	color: gray;
	font-weight: bold;
}